<div class="nested-fields">

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :particular %>
          </div>
          <div class="col-md-7">
            <%= f.text_field :description, class: 'form-control', disabled: true %>
          </div>
          <div class="form-group">
            <div class="col-md-1">
              <%= f.label :amount %>
            </div>
            <div class="col-md-2">
              <%= f.number_field :amount, class: 'form-control', step: 'any', disabled: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>